* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #e5e5e5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
